@import "tailwindcss";

@theme {
    /* colors */
    --color-primary: #7FD4E7;
    --color-blue-light: #858AE3;
    --color-blue: #613DC1;
    --color-blue-dark: #4E148C;
    --color-black-blue: #2C0735;
    --color-white-blue: #E9F4F6;

    /* fonts */
    --font-primary: "IBM Plex Sans", sans-serif;
    --font-secondary: "M PLUS 1", sans-serif;

}
:root {
    --main-font-size: 16px;
    --colorblind-filter: none;
}

body {
    font-family: var(--font-primary);
    font-size: var(--main-font-size);
    background: var(--color-white-blue);
    color: var(--color-black-blue);
}

html {
    filter: var(--colorblind-filter);
}

html.mode-protanopia {
    --colorblind-filter: url('#protanopia') sepia(0.5) hue-rotate(-30deg) saturate(1.2);
}

html.mode-deuteranopia {
    --colorblind-filter: url('#protanopia') sepia(0.5) hue-rotate(30deg) saturate(1.2);
}

html.mode-grayscale {
    --colorblind-filter: grayscale(100%);
}